// Layout styles
// ---------------------------------------/

@include media_larger_than_mobile {
  .flex-row {
    display: flex;
  }

  .one-half-desktop {
    width: 50%;
  }
}

// Single column hack
.single-column {
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
}

// Equal width columns via table sorcery.
.table-column {
  display: table-cell;
  width: 1%;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
  vertical-align: top;
}
