//
// VARIABLES
//

// Colors
$blue: #2196F3;
$red: #F4511E;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #f2f2f2;
$white: #fff;

// Font stacks
$headerFont: "PT Serif Caption", Geneva, Arial, sans-serif;
$sans: "Roboto", Helvetica, Arial, sans-serif;
$serif: "PT Serif", Palatino, Georgia, serif;

$grid-gutter:     10px !default;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
